

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: Quicksand; */
    font-family: inter;
    font-weight: 900;
    color: var(--text-color);
}



:root{
    --text-color: rgb(27, 27, 27);
    --bg-color: rgb(255, 255, 255);
}

body{
    background-color:var(--bg-color) ;
}

.navbar-toggler {
    border: none; /* Removes the border */
    background: transparent; /* Removes background color, if any */
    padding: 0; /* Reduces any extra padding */
}

.navbar-toggler svg.hamburger-icon {
    width: 50px; /* Adjust container size */
    height: 30px; /* Maintain aspect ratio */
}


.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


.navmobile{
    
}


   
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



/* For smaller screens like mobile devices */
@media (max-width: 768px) {
    .logo {
        width: 300px; /* Smaller size for phones */
        height: auto;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 200px; /* Even smaller for very small phones */
        height: auto;
    }
}